<mat-toolbar color="primary">The Jokes App</mat-toolbar>
<div class="joke-class" fxLayout fxLayoutAlign="center">
  <div fxLayoutAlign="center" fxFlex="50%" fxFlex.xs="100%">
    <mat-card>
      <mat-card-title
        ><p>
          How many hipsters does it take to change a lightbulb?
        </p></mat-card-title
      >
      <mat-card-subtitle>general</mat-card-subtitle>
      <mat-card-content
        ><p>
          Oh, it's a really obscure number. You've probably never heard of it.
        </p></mat-card-content
      >
    </mat-card>
  </div>
</div>
