<div class="joke-class" fxLayout fxLayoutAlign="center">
  <div fxLayoutAlign="center" fxFlex="50%" fxFlex.xs="100%">
    <div fxFlex="100%">
      <mat-card>
        <mat-card-title
          ><p>
            {{ joke.setup }}
          </p></mat-card-title
        >
        <mat-card-subtitle>{{ joke.type }}</mat-card-subtitle>
        <mat-card-content *ngIf="showPunchLine"
          ><p>
            {{ joke.punchline }}
          </p></mat-card-content
        >
        <mat-card-actions>
          <button
            type="button"
            mat-raised-button
            color="accent"
            (click)="showPunchLine = !showPunchLine"
          >
            {{ !showPunchLine ? "Show " : "Hide " }} Punchline
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
